<%= form_with(model: load_type, local: true) do |form| %>
  <% if load_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(load_type.errors.count, "error") %> prohibited this load_type from being saved:</h2>

      <ul>
        <% load_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
