<%= form_with(model: route, local: true) do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% route.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_at %>
    <%= form.datetime_select :start_at %>
  </div>

  <div class="field">
    <%= form.label :ends_at %>
    <%= form.datetime_select :ends_at %>
  </div>

  <div class="field">
    <%= form.label :load_type %>
    <%= form.select(:load_type, @load.collect {|l| [h(l.name), l.id] }, { include_blank: 'Select One'}) %>
  </div>

  <div class="field">
    <%= form.label :cities %>
    <%= form.select(:cities, @cities.collect {|r| [h(r.name), r.id] }, { include_blank: 'Select One'}) %>
  </div>

  <div class="actions">
    <%= form.submit('Crear Ruta Manual') %>
  </div>
  <div class="actions">
    <%= form.button('Ver Ruta', type: :button) %>
  </div>
<% end %>
