<p id="notice"><%= notice %></p>

<h1>Routes</h1>

<table>
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Driver</th>
      <th>Ruta</th>
      <th>Start at</th>
      <th>Ends at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.vehicle_id %></td>
        <td><%= route.driver_id %></td>
        <td><%= route.id %></td>
        <td><%= route.start_at %></td>
        <td><%= route.ends_at %></td>
        <td><%= link_to 'Show', route %></td>
        <td><%= link_to 'Edit', edit_route_path(route) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route', new_route_path %>
