<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @route.start_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @route.ends_at %>
</p>

<p>
  <strong>Load type:</strong>
  <%= @route.load_type %>
</p>

<p>
  <strong>Cities:</strong>
  <%= @route.cities %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
