<%= form_with(model: driver, local: true) do |form| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
        <% driver.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :stop_id, value: "Parada Favorita" %>
    <%= form.select(:stop_id, @cities.collect {|r| [h(r.name), r.id] }, { include_blank: 'Select One'}) %>
  </div>

  <div class="field">
    <%= form.label :vehicle_id %>
    <%= form.select(:vehicle_id, @vehicle.collect {|r| [h(r.capacity), r.id] }, { include_blank: 'Select One'}) %>
  </div>

  <div class="field">
    <%= form.label :vehicle_owner %>
    <%= form.check_box :vehicle_owner %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
