<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @driver.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @driver.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @driver.vehicle_id %>
</p>

<p>
  <strong>Vehicle owner:</strong>
  <%= @driver.vehicle_owner %>
</p>
<p>
  <strong>Favorite Stop:</strong>
  <%= @driver.stop_id %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
