<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :capacity %>
    <%= form.text_field :capacity %>
  </div>

  <div class="field">
    <%= form.label :load_type %>
    <%= form.select(:load_type, @load.collect {|l| [h(l.name), l.id] }, { include_blank: 'Select One'}) %>    
  </div>

  <div class="field">
    <%= form.label :driver_id %>
    <%= form.select(:driver_id, @driver.collect {|r| [h(r.name), r.id] }, { include_blank: 'Select One'}, disabled:"disabled") %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
